.content {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 2rem;
}

.content__quotes {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
}

@media screen and (max-width: 768px) {
    .content__quotes {
        margin-left: 1rem;
    }
}
