.quote {
    width: 70%;
}

.quote__wrapper {
    max-width: 100%;
    position: relative;
    margin-top: 5rem;
}

.quote__line {
    position: absolute;
    width: 0.45rem;
    height: 100%;
    background-color: var(--line-color);
    left: -2rem;
}

.quote__text {
    font-weight: normal;
    font-size: calc(0.9rem + 1vw);
}
